
/*shared style*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1600px;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    background-color: #469165;
    color:#FFFFFF;
    font-size: 16px;
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
}
.btn:hover{
    background-color: #218838;
}

.color-green{
    color: #30B868;
    display: block;
}

.section-heading{
    margin: auto;
}

.section-heading h2{
    color: #001931;
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: 700;

}
.section-heading p{
    font-size: 16px;
    color:#627382;
    line-height: 20px;
    margin-bottom: 44px;
}
.section-heading h6{
    font-size: 16px;
    line-height: 20px;
    color:#469165;
    margin-top: 16px;
}


/*main style*/

header{
    background-color:#FFFFFF;
    /*border: red solid;*/
    padding-top: 16px;
}
nav{
    width: 85%;
    max-width: 1360px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav .menu{
    display: flex;
    gap: 32px;
    list-style-type: none;
    
}
nav .menu a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    line-height: 152%;
}
#banner{
    margin-top: 16px;
   /* border: black solid ;*/
    background: url(../images/hero-bg.png); 
    background-repeat: no-repeat; 
    background-size: cover; 
}
#banner .banner-content{
    width: 85%;
    max-width: 1360px;
    padding: 115px 120px 179px 120px;
    margin: 0 auto;
   /* border: green solid;*/
    text-align: center;
    
}

.banner-content .badge{
    color:#469165;
    font-size: 16px;
    font-weight: 500;
    background-color: #FFFFFF;
    border-radius: 1000px;
    padding: 8px 12px ;
    gap:6px;
    text-decoration: none;
    display: inline-flex; 
    align-items: center;   
}
.banner-content .badge .dot-container {
    position: relative;
    width: 16px;
    height: 16px;
}
.banner-content .badge .dot {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.banner-content .badge .dot1 {
    width: 16px;
    height: 16px;
    background: #469165;
    opacity: 20%;
}
.banner-content .badge .dot2 {
    width: 12px;
    height: 12px;
    background: #469165;
    opacity: 40%;
}
.banner-content .badge .dot3 {
    width: 6px;
    height: 6px;
    background: #469165;
}

.banner-content h1{
    color:#FFFFFF;
    margin: 16px auto;
    text-align: center;
    font-weight: 700;
    font-size: 72px;
    
} 
.banner-content p{
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 32px; 
    text-align: center;  
}
.banner-content p span{
    display: block;
}
.banner-content .btn-group{
    display: flex;
    gap:16px;
    justify-content: center;
}
.btn1{
    background-color:transparent;
    color:#FFFFFF;
    font-size: 16px;
    padding: 12.5px 16px;
    border-radius: 4px;
    border: white solid;
}
.btn1:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

#notes{
    padding-top: 102px;
}
#notes .notes-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    /*border: #30B868 solid;*/
    text-align: center;
}
.notes-container .notes-box{
    display: flex;
    gap: 24px;
}
.notes-box .notes-card{
    padding: 24px;
    /*border: red solid;*/
    box-shadow: 0 0px 8px #00000030;
    background-color: #FFFFFF;
    border-radius: 8px;
}
.notes-box .notes-card img{
    background-color: #F95555;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-bottom: 16px;
}
.notes-box .notes-card h3{
    font-size: 24px;
    font-weight: 600px;
    margin-bottom: 16px;
    color: #001931;
}
.notes-box .notes-card p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}
#second-brain{
    padding: 120px;
}
.second-brain-container{
    display: flex;
    gap: 60px; 
}
.second-brain-container .knowledge{
    height: 600px;
    width: 600px;
    border-radius: 12px;
}
.section-heading ul{
    list-style: none;
}
.section-heading ul li{
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 20px;
    color: #001931;
}
#early-access{
    padding: 0 120px 120px 120px;
}
#early-access .early-access-info{
    width: 85%;
    max-width: 1360px;
    border-radius: 12px;
    padding: 80px 40px;
    margin: auto;
    text-align: center;
    background-color: #F7F6F2;
}
.early-access-info h3{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #001931;
}
.early-access-info p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 24px;
    line-height: 24px;
}
.early-access-info .p{
    margin-top: 16px;
}
#footer{
    background-color: #001931;
    padding: 120px 120px 30px 120px;
}
#footer .footer-top{
    width: 85%;
    max-width: 1360px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footer-top p{
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
    color: #FFFFFF;
}
.footer-top .icons{
    display: flex;
    gap: 16px;
}
#footer .footer-bottom{
    width: 85%;
    max-width: 1360px;
    color: #FAFAFA;
    text-align: center;
    margin: 40px auto 0 auto;
    font-size: 16px;
    line-height: 24px;
}
.footer-bottom p{
    margin-top: 30px;
}
hr{
    background-color: #e5e7eb1b;
    height: 2px;
    border: none;
}
.fa-brands{
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;
}